body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-color: rgb(241, 109, 14);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 40px;
    color: rgb(245, 241, 240);
    text-shadow: 0px 0px 4px black;
}
.calc{
    padding: 20px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.573);
    border-radius: 10px;
}
#text{
    width: 95%;
    height: 40px;
    text-align: end;
}
.nums{
    height: 200px;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#igual{
    grid-column: 2/4;
}
input{
    font-size: 18px;
}

input[type="button"]{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin: 2px;
}

input[type="button"]:hover{
    background-color: rgb(236, 110, 20);
    color: white;
    
}
